// .Error,
// .Warning {
//     width: 100%;
//     display: flex;
//     flex-wrap: wrap;
//     align-items: center;
//     justify-content: space-between;
//     padding: 10px;
//     margin: 5px 0;
//     border-radius: 8px;

//     img {
//         width: 64px;
//         height: 64px;
//     }

//     div {
//         text-align: center;
//         margin: 0 auto;

//         p { margin: 0; }

//         p.Title {
//             font-weight: bold;
//             margin-bottom: 12px;
//         }

//         span {
//             font-weight: bold;
//             font-size: 1.3em;
//             border-radius: 6px;
//             margin: 15px;
//             padding: 0 10px;
//             background-color: #f5bb35;
//             color: #020202;
//         }
//     }
// }

// .Warning {
//     color: #f5bb35;
//     background-color: #020202;
// }

.Warning2 {
  display: flex;
  flex-wrap: wrap;

  text-align: center;
  border-radius: 8px;

  color: #f5bb35;
  background-color: #9c1010;

  img {
    padding: 10px;
    height: 100%;
  }

  div {
    width: 80%;

    p.Title {
      margin: 0;
      padding: 10px;
      font-weight: bold;
    }

    p.Message {
    }

    span {
      font-weight: bold;
      font-size: 1.2em;
      border-radius: 6px;
      margin: 15px;
      padding: 3px 10px;
      background-color: #e99b1d;
      color: #020202;
    }
  }
}

// .Error {
//     color: #020202;
//     background-color: #ff0000;
// }
