/** ---------------------------- */
/** --- Code editor ------------ */
/** ---------------------------- */
.CodeEditContainer {
  width: 100%;
  position: relative;

  color: #ffffff;
  caret-color: aqua;
  background: #272822;
  /* border: 3px solid #999; */
  border-radius: 0.3em;
  font-size: 16px;
  margin-top: 30px;
}

.CodeInput,
.CodeOutput,
code {
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  color: #ffffff;
  line-height: 1.5em;
  text-align: left;

  text-shadow: 0 1px rgba(0, 0, 0, 0.2);
  white-space: pre-wrap;
  word-spacing: normal;
  word-break: break-word;
  word-wrap: normal;
}

.CodeInput,
.CodeOutput {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 1em;

  font-size: 1em;
}

.CodeInput {
  position: absolute;
  top: 0px;
  left: 0px;
  resize: none;
  border: 0;
  opacity: 1;
  overflow: hidden;
  background: transparent;
  -moz-osx-font-smoothing: 'grayscale';
  -webkit-font-smoothing: antialiased;
  -webkit-text-fill-color: transparent;
}

.CodeOutput {
  pointer-events: none;
}

code {
  word-break: break-word;
}

/**
 * Reset the text fill color so that placeholder is visible
 */
.CodeInput:empty {
  -webkit-text-fill-color: inherit !important;
}

/**
* Hack to apply on some CSS on IE10 and IE11
*/
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  /**
    * IE doesn't support '-webkit-text-fill-color'
    * So we use 'color: transparent' to make the text transparent on IE
    * Unlike other browsers, it doesn't affect caret color in IE
    */
  .CodeInput {
    color: transparent !important;
  }

  .CodeInput::selection {
    background-color: #accef7 !important;
    color: transparent !important;
  }
}
