.LiveCodePresenter {
  position: relative;
  margin: 0 auto;
  text-align: center;
  border-radius: 5px;
  padding-bottom: 12px;
  width: 600px;
}

// .LiveCodePresenter:nth-child(odd) { background-color: #bbb; }
// .LiveCodePresenter:nth-child(even) { background-color: #999; }
