.OutputPresenter {
    position: relative;
    margin: 0 auto;
    text-align: center;
    border-radius: 5px;
    width: 600px;

    &:hover {
        outline: 7px solid #ffc830;
        z-index: 20;
    }
}
